<!doctype html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TVDRH7K');</script>
    <!-- End Google Tag Manager -->
    <title>{% block title %}Manage COI{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block metadata %}
        <meta name="description" content="Get Your Health Record is designed to help you become more involved in taking control of your healthcare. This  give you the ability to access Medicare claims history, health records, medications, diagnoses and more! Get Your Health Record puts you in control of your health records for easy sharing with those most important such as new doctors, emergency medical teams and family members!">
    {% endblock %}

    {% block ogTags %}
        <meta property="og:url" content="http://www.getyourhealthrecord.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Get Your Health Record" />
        <meta property="og:description" content="Get Your Health Record puts you in control of your health records for easy sharing with those most important such as new doctors, emergency medical teams and family members!" />
        <meta property="og:image" content="http://www.getyourhealthrecord.com/assets/images/facebook-og.jpg" />
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/homepage/style.css?version=1.0">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/tempusdominus-bootstrap-4.min.css">
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/js/moment.min.js"></script>
        <script type="text/javascript" src="/assets/js/tempusdominus-bootstrap-4.min.js"></script>
    {% endblock %}

    {% block icons %}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    {% endblock %}
</head>
<body>
{% block tracking %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=515231751852659&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVDRH7K"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block bodystart %}{% endblock %}

{{ include('homepage/navigation.twig') }}

{% block content %}{% endblock %}


<script type="text/javascript" src="/assets/js/script.js?version=1.0"></script>
</body>
</html>