{% extends "homepage/base.twig" %}

{% block metadata %}
    <link rel="canonical" href="https://www.getyourhealthrecord.com" />
    {{ parent() }}
    <meta name="google-site-verification" content="E8eG9wWzbrR86QhRvQI49-3yYKY2pogTjNDI6njw1aw" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
{% endblock %}

{% block content %}

{% include('homepage/partials/highlights.twig') %}

{% include('homepage/partials/signup.twig') %}

{% include('homepage/partials/footer.twig') %}

{% endblock %}