<div class="nav-container">
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo-notext.svg" alt="Health Endeavors" class="logo-img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item callout">
                    <a href="https://www.onetouchhealth.com/" class="nav-link" target="_blank">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>