<div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="contactFormLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Fields marked with <span class="form-required">*</span> are required</p>
                <form class="container-fluid contact-form" action="" method="post">
                    <input type="hidden" name="title" value="{{ title }}">
                    <div class="required-fields">
                        <input type="text" name="form__valid__name" value="">
                        <input type="text" name="form__valid__email" value="">
                        <input type="text" name="form__valid__url" value="">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="firstName">First Name <span class="form-required">*</span></label>
                            <input type="text" name="firstName" id="firstName" class="form-control" value="" placeholder="First Name" required="true">
                        </div>
                        <div class="col">
                            <label for="lastName">Last Name <span class="form-required">*</span></label>
                            <input type="text" name="lastName" id="lastName" value="" class="form-control" placeholder="Last Name" required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email">Email Address <span class="form-required">*</span></label>
                            <input type="email" name="email" id="email" value="" class="form-control" placeholder="Email Address" required="true">
                        </div>
                        <div class="col">
                            <label for="phone">Phone Number{% if datetime %} <span class="form-required">*</span>{% endif %}</label>
                            <input type="text" name="phone" id="phone" value="" class="form-control phone-mask" placeholder="Phone Number"{% if datetime %} required="true"{% endif %}>
                        </div>
                    </div>
                    {% if datetime %}
                    <input type="hidden" name="datetime" value="true">
                    <div class="row">
                        <div class="col">
                            <label for="date">Preferred Date <span class="form-required">*</span></label>
                            <!--<input type="text" name="date" id="date" value="" class="form-control date-picker datetimepicker-input" data-toggle="datetimepicker" placeholder="Date">-->
                            <input type="text" name="date" id="date" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#date" placeholder="Date" autocomplete="off" value="">
                        </div>
                        <div class="col">
                            <label for="time">Preferred Time <span class="form-required">*</span></label>
                            <input type="text" name="time" id="time" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#time" placeholder="Time" autocomplete="off" value="">
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <p class="small">We respect your privacy, Your information will not be shared.</p>
                        </div>
                    </div>
                    <div class="row submit-form text-center">
                        <div class="col">
                            <input type="submit" name="submit" class="btn btn-primary" value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>