<div class="modal fade bd-example-modal-sm" id="thankyou-modal" tabindex="-1" role="dialog" aria-labelledby="thankyouModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <div class="modal-body">
                Thank you for contacting us!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>