<div class="col-md">
    <div class="row header-btns">
        <div class="navbar navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-icon-container">
                    <div class="navbar-icon-bar"></div>
                    <div class="navbar-icon-bar"></div>
                    <div class="navbar-icon-bar"></div>
                </div>
                Navigation
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://www.onetouchhealth.com/" class="nav-link callout" target="_blank">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle callout" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#appointment-modal" class="dropdown-item" data-toggle="modal" data-target="#appointment-modal">Schedule Phone Enrollment</a>
                            <div class="dropdown-divider"></div>
                            <a href="#contact-modal" class="dropdown-item" data-toggle="modal" data-target="#contact-modal">Send a Message</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/events/" class="nav-link">Upcoming Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>