<div class="container-fluid highlight">
	<div class="container">
		<div class="row">
			<div class="col-md-5 img-container{% if count and count % 2 == 0 %} order-md-last{% endif %}">
				{% block image %}
					<img src="https://via.placeholder.com/700x485" class="img-fluid" alt="Placeholder Image">
				{% endblock %}
			</div>
			<div class="col-md">
				<div class="d-flex h-100 align-items-center">
					<div class="content-center">
						<h2>{% block title %}Lorem ipsum dolor sit amet{% endblock %}</h2>
						<div class="text">
							{% block content %}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh metus, iaculis dictum aliquam quis, efficitur eget risus. Suspendisse sed lectus pharetra, aliquam arcu quis, luctus est. Mauris varius eu dui in pulvinar.</p>
							<p><a href="">Learn More</a></p>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>