.main-background{
	position: relative;
	background: url('/assets/images/main-background.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}
.main-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(left, transparent 25%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to right, transparent 25%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 0;
}
.main-background .content-container{
	margin: 100px auto 20px;
}
.logo{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 290px, rgba(255,255,255,.5) 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 290px,rgba(255,255,255,.5) 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 290px,rgba(255,255,255,.5) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}
.logo .login{
	vertical-align: bottom;
	margin: 0 0 0 20px;
}
.logo .login a{
	font-size: 12px;
	vertical-align: bottom;
	padding: 7px 15px;
}
.logo-img{
	margin-left: 15px;
}
/* Navigation */

.navbar{
	width: 100%;
}
.navbar .nav-link{
	color: #49C5B1;
	padding-bottom: .6rem;
	margin-left: .5rem;
	margin-right: .5rem;
	border-bottom: solid 3px rgba(255,255,255,0);
}
.navbar .nav-link:hover{
	background-color: #ffffff;
	border-color: #49C5B1;
}
.navbar .nav-link.callout{
	background-color: #49C5B1;
	color: #ffffff;
	padding-left: 1rem;
	padding-right: 1rem;
	border: solid 1px #49C5B1;
	border-radius: 10px;
}
.navbar .nav-link.callout:hover{
	background: none;
	color: #49C5B1;
}
.navbar .nav-link.callout.dropdown-toggle::after{
	vertical-align: 0.155em;
}
.navbar-toggler{
	color: #49C5B1;
	text-align: left;
	width: 100%;
	margin: .4em 0;
}
.navbar-icon-container{
	display: inline-block;
	width: 1em;
	vertical-align: bottom;
}
.navbar-icon-bar{
	background-color: #49C5B1;
	height: .2em;
	border-radius: 1em;
	margin: 2px 0;
}

/* END Navigation */

.header-btns .login{
	line-height: 60px;
}
.content-container{
	width: 80%;
	margin: 0 auto;
}
.videos-container{
	margin-top: 40px;
}
.main-content.jumbotron{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.main-content .card{
	min-height: 100%;
}
.main-video{
	position: relative;
	overflow: hidden;
}
.banner-link{
	width: 100%;
	text-align: center;
	margin: 20px auto;
}
.banner-link a{
	display: inline-block;
	padding: 5px;
	border: solid 1px #2BC6C2;
	margin: 0 20px;
}
.banner-link a img{
	max-width: auto;
	width: 100%;
}
.kindle-logo{
	display: inline-block;
	margin-left: 20px;
}
.kindle-logo img{
	height: 2em;
}
.video{
	width: 100%;
	position: relative;
	padding: 0 0 56.25% 0;
}
.video > *{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.video > div{
	height: 100%;
}
.pager{
	position: absolute;
	width: 30px;
	height: 60px;
	top:50%;
	margin: -30px 5px 0;
	z-index: 999;
	cursor: pointer;
}
.pager.next{
	right: 0%;
}
.pager.prev{
	left: 0%;
}
.thumbnails{
	width: 100%;
	margin: 10px 0 0;
	z-index: 999;
}
.thumbnails span{
	display: inline-block;
	background-color: #ddd;
	height: 8px;
	margin:0 1.5%;
}
.thumbnails span.cycle-pager-active{
	background-color: #bbb;
}
.main-video .video-container{
	padding: 0 0 56.25% 0;
	overflow: hidden;
}
.main-video .video:not(:first-child){
	position: absolute;
}
.main-video.active .video > div{
	display: none;
}
.main-video.active .video.cycle-slide-active > div{
	display: block;
}
.main-video .pager{
	height: 50%;
	width: 15%;
	margin-top: -17%;
}
.main-video .fa{
	color:#fff;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}
.main-video .pager:hover .fa{
	visibility: visible;
	opacity: 1;
}
.button-container{
	height: 100%;
}
.button-container .card{
	display: inline-block;
}
.like-btn .card{
	margin-top:10px;
}
.like-btn .card-body{
	padding: .65rem;
}
.video-carousel{
	padding: 10px 40px;
	margin: 20px 10px;
	position: relative;
}
.video-carousel .video-link{
	width: 160px;
	vertical-align: top;
}
.video-carousel .video-link .text{
	font-size: 14px;
	white-space: normal;
}
.video-carousel .video-link{
	margin: 0 10px;
}
.video-carousel .fa{
	font-size: 36px;
	font-weight: bold;
}
.video-carousel .video{
	border: solid 1px #999;
}

.text-center .modal-footer{
	justify-content: center;
}

.footer{
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 12px;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}

.footer a{
	color: #222;
}
.footer a:hover{
	color: #60c5bf;
}
/* Login Form */
.login-text{
	font-size: 18px;
}
.login .btn-primary {
	font-size: 1.4em;
	line-height: 1.1em;
	white-space: normal;
	padding: 15px 70px;
}
.btn-primary {
	color: #fff;
	background-color: #60c5bf;
	border-color: #4dbeb7;
	background-image: -webkit-linear-gradient(top,#60c5bf 0,#3eaaa3 100%);
	background-image: -o-linear-gradient(top,#60c5bf 0,#3eaaa3 100%);
	background-image: linear-gradient(to bottom,#60c5bf 0,#3eaaa3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60c5bf',endColorstr='#ff3eaaa3',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #3ba29c;
}
.btn-primary:active {
	color: #fff;
	background-color: #60c5bf !important;
	border-color: #4dbeb7 !important;
}
.btn-primary:hover {
	background-image: -webkit-linear-gradient(top,#3eaaa3 0,#60c5bf 100%);
	background-image: -o-linear-gradient(top,#3eaaa3 0,#60c5bf 100%);
	background-image: linear-gradient(to bottom,#3eaaa3 0,#60c5bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3eaaa3',endColorstr='#ff60c5bf',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
}
/* END Login Form */

/* Social Icons */
.social-icons{
	display: block;
	background: #ffffff;
	text-align: center;
	padding: 10px;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px #888888;
	position: fixed;
	top: 200px;
	left: 0;
	z-index: 999;
}
.social-icons a{
	text-decoration: none;
}
.social-icons .icon{
	display: block;
	font-size: 3em;
	text-align: center;
	padding: 3px;
}
.social-icons .fa-facebook-square{
	color: #3B5998;
}
.social-icons .fa-linkedin-square{
	color: #0077B5;
}
.social-icons .fa-youtube-play{
	font-size: 2.8em;
	color: #ff0000;
}
/* END Social Icons */

/* Form */

.form-required{
	color: red;
}

.contact-form .row{
	margin-top: 10px;
	margin-bottom: 10px;
}

.submit-form.row{
	margin-top: 30px;
	margin-bottom: 20px;
}

.required-fields{
	display: none;
}

/* END Form */

/* Events */

.event-bump{
	height: 450px;
}
.events-container{
	background-color: #ffffff;
	margin-top: -300px;
	min-height: 300px;
	padding: 40px 0;
	position: relative;
}
.event-listing{
	margin:40px 0;
}
.events-container .event{
	background-color: #f0f0f0;
	color:#666666;
	padding: 0 -15px;
	border: solid 1px #dedede;
	margin:0 50px;
}
.events-container .event:hover{
	box-shadow: 0 0 10px;
}
.events-container .event + .event{
	margin-top: 20px;
}
.events-container .event [class^="col-"]{
	padding: 0;
}
.event .event-image{
	width: 20%;
}
.event .event-img{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: right;
    width: 100%;
    height: 100%;
	overflow: hidden;
}
.event .event-img .date{
	display: inline-block;
	background-color: rgba(79,194,177,0.8);
	color: #ffffff;
	text-align: center;
	padding: 10px 5px;
}
.event .event-img .date .day{
	font-size: 44px;
	line-height: 44px;
}
.event .event-img .date .month{
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
}
.events-container .event .content{
	padding: 10px 30px;
	overflow: hidden;
}
.event .content > h4{
	color:#000000;
	text-decoration: underline;
}
.event .date-cost{
	font-size: .9em;
	text-transform: uppercase;
}
.event .description{
	color:#333333;
	padding: 10px 0 0 0;
}
.location .title{
	color: #000000;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.location p{
	padding: 0;
	margin: 0;
}
.event .reserve-container{
	height: 100%;
	padding: 30px 0;
}
.event .reserve-container .reserve{
	width: 100%;
	height: 100%;
	padding: 0 30px;
	border-left: solid 1px #aaa;
}
.event .reserve-container .reserve a{
	display: inline-block;
	background-color: #ff672d;
	color: #ffffff;
	padding: 10px 40px;
	border-radius: 10px;
}

/* END Events */

@media (max-width: 992px) {
	.event .event-image{
		width: 100%;
	}
	.event .reserve-container .reserve{
		border: none;
	}
}

@media (max-width: 768px) {
	.navbar .nav-link.callout{
		margin-top: .1rem;
		margin-bottom: .1rem;
	}
	.logo{
		background: rgb(255,255,255);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 290px, rgba(255,255,255,.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 290px,rgba(255,255,255,.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 290px,rgba(255,255,255,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		padding-bottom: 0px;
	}
	.content-container{
		width: 100%;
	}
	.login{
		padding-top: 20px;
	}

	/* Social Icons */
	.footer{
		margin-bottom: 50px;
	}
	.social-icons{
		padding: 5px 15px;
		border-radius: 15px 15px 0  0;
		top:auto;
		left: 50%;
		bottom: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	.social-icons .icon{
		display: inline-block;
		font-size: 2em;
		padding: 3px 6px;
	}
	/* END Social Icons */
	.events-container .event{
		margin: 0 10px;
	}
}