html,body{
	font-family: "Arial Narrow", Arial, sans-serif;
	color: #888B8D;
}
@media (max-width: 767px){
	html,body{
		font-size: .9rem;
	}
}

/* navigation */
nav{
	background: rgba(255,255,255,0.95);
}
.nav-container{
	min-height: 100px;
}
.navbar-light .navbar-nav .nav-link{
	color: #007680;
	font-size: 1.2rem;
}
.logo-img{
	width: auto;
	height: 3.5rem;
}

@media (min-width:768px) {
	.navbar-expand-md .navbar-nav .nav-link,
	.nav-link{
		padding: .5rem 1rem;
	}
	.nav-item.callout{
		margin-left: 20px;
	}
	.nav-item.callout{
		border: solid 1px #007680;
		border-radius: 5px;
	}
	.nav-item.callout:active,
	.nav-item.callout:focus,
	.nav-item.callout:hover{
		color: #ffffff;
		background-color: #007680;
	}
	.nav-item.callout:active a.nav-link,
	.nav-item.callout:focus a.nav-link,
	.nav-item.callout:hover a.nav-link{
		color:#ffffff;
	}
}
@media (max-width: 767px){
	nav{
		background-color: #ffffff;
	}
}
/* end navigation */


/* defaults */
h1{
	color: #007680;
}
h2{
	font-size: 2.2rem;
	color: #007680;
}
h3{
	color: #007680;
	text-transform: uppercase;
}
h4{
	color: #007680;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
}
p,
ul,
ol{
	font-size: 1.5rem;
	line-height: 1.6rem;
}

.container {
    max-width: 1200px;
}
/* custom button */
.btn-custom,
a.btn-custom {
	color:#fff;
	background-color:#279989;
	border-color:#279989;
}
.btn-custom:hover {
	color:#fff;
	background-color:#228577;
	border-color:#228577;
}
.btn-custom.focus,.btn-custom:focus {
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5);
}
.btn-custom.disabled,.btn-custom:disabled {
	color:#fff;
	background-color:#279989;
	border-color:#279989;
}
.btn-custom:not(:disabled):not(.disabled).active,.btn-custom:not(:disabled):not(.disabled):active,.show>.btn-custom.dropdown-toggle {
	color:#fff;
	background-color:#228577;
	border-color:#279989;
}
.btn-custom:not(:disabled):not(.disabled).active:focus,.btn-custom:not(:disabled):not(.disabled):active:focus,.show>.btn-custom.dropdown-toggle:focus {
	box-shadow:0 0 0 .2rem rgba(34,133,119,.5);
}
/* end custom button */
/* green button */
.btn-green,
a.btn-green {
	color:#fff;
	background-color:#009639;
	border-color:#009639;
}
.btn-green:hover {
	color:#fff;
	background-color:#00752c;
	border-color:#00752c;
}
.btn-green.focus,.btn-green:focus {
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5);
}
.btn-green.disabled,.btn-green:disabled {
	color:#fff;
	background-color:#009639;
	border-color:#009639;
}
.btn-green:not(:disabled):not(.disabled).active,.btn-green:not(:disabled):not(.disabled):active,.show>.btn-green.dropdown-toggle {
	color:#fff;
	background-color:#00752c;
	border-color:#009639;
}
.btn-green:not(:disabled):not(.disabled).active:focus,.btn-green:not(:disabled):not(.disabled):active:focus,.show>.btn-green.dropdown-toggle:focus {
	box-shadow:0 0 0 .2rem rgba(34,133,119,.5);
}
/* end green button */
.divider-col{
	padding:0;
}
.line-divider{
	position: relative;
}
.line-divider::before{
	content: '';
	background-color: #007680;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
}
.divider-txt{
	background-color: #ffffff;
	color: #007680;
	font-size: .8rem;
	text-transform: uppercase;
	padding: 1rem 0;
	position: relative;
	z-index: 1;
}
.grey-divider{
	background-color: rgba(136,139,141,.6);
	width: 100%;
	height: 1px;
	margin: 0 0 20px;
}
@media (max-width: 767px){
	.divider-txt{
		padding: 0 1rem;
		margin: 0 auto;
	}
	.line-divider::before{
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		margin-top: -1px;
	}
}

.dark-container{
	background-color:#007680;
	position: relative;
}
.dark-container::before{
	content: '';
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,.3) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005057', endColorstr='#007680',GradientType=0 ); /* IE6-9 */
}
.dark-container::after{
	content: '';
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005057', endColorstr='#007680',GradientType=0 ); /* IE6-9 */
}
.dark-container,
.dark-container h1,
.dark-container h2,
.dark-container h3,
.dark-container h4,
.dark-container p{
	color: #ffffff;
}
/* end defaults */

/* content */
.container.header {
	max-width: 1480px;
}
.container.header h1{
	font-size: 4rem;
	margin: 0;
}
@media (max-width:767px) {
	.container.header h1{
		font-size:3rem;
	}
}
.container.header p{
	font-size: 2rem;
	line-height: 1.3;
	margin: 0;
}
.btn-container{
	display: inline-block;
}
.container.header .btn{
	width: 100%;
	font-family: "Arial", Arial, sans-serif;
	font-size: 1.8rem;
	border-radius: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin: 1.3rem 0;
}
.get-icon{
	display: inline-block;
}
.get-icon + .get-icon{
	margin-left: 1rem;
}
.get-icon img{
	height: 3rem;
}
.phone-image-container{
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}
.phone-image{
	background-image: url('/assets/images/phone/things-to-complete.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
	width: 100%;
	padding: 0 0 155.55% 0;
}
@media (max-width: 767px){
	.phone-image-container{
		display: none;
	}
	.header .txt{
		margin-bottom: 50px;
	}
}

.signup-container{
	border-top: solid 1px #007680;
	border-bottom: solid 1px #007680;
}
.video-link{
	display: inline-block;
	color: #007680;
	padding: .1rem 2rem;
	border: solid 1px #007680;
	border-radius: 1rem;
	margin-bottom: 25px;
	cursor: pointer;
}
.text-highlight{
	color: #833177;
}
.signup-container h3{
	margin-top: 20px;
}
.signup-container .btn{
	margin-bottom: 20px;
}

.icon-list{
	padding: 25px 0;
}
.icon-list .icon-container{
	display: inline-block;
	width: 100%;
	max-width:6rem;
	margin: 0 0 5px 0;
}
.icon-list .icon-container .icon{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.icon-list .icon-container .icon .icon-table{
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.icon-list .icon-container .icon .icon-table .fa{
	font-size: 5rem;
	display: table-cell;
	vertical-align: middle;
}
.icon-list h3{
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: bold;
}
.icon-list p{
	font-size: 1.1rem;
	line-height: 1.2rem;
	margin: 0;
}
@media (max-width: 767px){
	.icon-list .icon-container{
		margin-top:20px;
	}
	.icon-list .col-md:first-child .icon-container{
		margin-top: 0; 
	}
}

.highlight{
	padding: 50px 0;
}
.img-container{
	text-align: center;
}

.testimonials p{
	margin: 0;
}
.testimonial{
	margin: 25px 0;
}
.testimonials .quote{
	font-style: italic;
	margin-bottom: 10px;
}
.testimonials .credit .name{
	font-weight: bold;
}
.testimonials .title{
	color: #a3c2c6;
	font-size: 1.1rem;
	font-style: italic;
}

.features{
	padding: 40px 0;
}
.features h2{
	font-size: 2rem;
}
.features ul{
	margin-top: 45px;
}
.features li{
	list-style-type: square;
	margin-bottom: 20px;
}
.features-image{
	max-width: 246px;
}

.footer{
	padding: 80px 0;
}
.contact-form-container{
	background-color: #ffffff;
	color: #555555;
	border-radius: 1rem;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.4);
	padding: 30px 20px;
}
.contact-form-container h2{
	color: #279989;
	text-align: center;
}
.contact-form-container p{
	color: #555555;
	text-align: center;
}
.contact-form-container .small{
	font-size: 1rem;
}
.contact-form-container label,
#appointment-modal label{
	margin: .5rem 0 0;
}
.required-fields{
	display: none;
}
.social-icons{
	font-size: 2rem;
	text-align: center;
}
.social-icons .icon a{
	display: inline-block;
	min-width: 2rem;
	color:#ffffff;
}
.social-icons .icon a:hover,
.social-icons .icon a:active,
.social-icons .icon a:focus{
	color: rgba(255,255,255,.6);
	text-decoration: none;
}
.footer-links ul{
	padding: 25px 0;
	margin: 0;
}
.footer-links li{
	list-style: none;
	padding: 7px 0;
}
.footer-links a{
	color:#dde8e9;
}
.footer-links a:hover,
.footer-links a:active,
.footer-links a:focus{
	color: #b8cfd2;
	text-decoration: none;
}
.contact{
	color: #a3c2c6;
	font-size: 1.1rem;
	line-height: 1.2rem;
	margin-bottom: 20px;
}
.copy{
	color: #5c9aa0;
	font-size: 1rem;
	margin-bottom: 20px;
}
@media (max-width: 767px){
	.contact-form-container{
		margin-bottom: 40px;
	}
}

.video-link.wistia_embed > div{
	width: auto !important;
	height: auto !important;
}
/* end content */