{% extends "layouts/base.twig" %}

{% block title %}Events | {{ parent() }}{% endblock %}

{% block topcontent %}<div class="content-container event-bump"></div>{% endblock %}

{% block content %}
<div class="content-container events-container">
    <div class="row">
        <div class="col header-container text-center">
            <h2>Upcoming Events</h2>
        </div>
    </div>
    <div class="row event-listing">
        <div class="container-fluid">
            <!-- loop -->
            {% for event in events %}
                <div class="row event">
                    <div class="col-lg-auto event-image">
                        <!-- image -->
                        <div class="event-img" style="background-image: url('/assets/images/events/{{ event.imageName }}')">
                            <div class="date">
                                <div class="day">{{ event.getDay() }}</div>
                                <div class="month">{{ event.getShortMonth() }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg content">
                        <!-- title -->
                        <h4>{{ event.eventTitle }}</h4>
                        <div class="date-cost">
                            <!-- date --> <!-- cost -->
                            <span class="date"><span class="fa fa-calendar"></span> {{ event.getDateString() }}</span> | <span class="cost">{{ event.price }}</span>
                        </div>
                        <!-- description -->
                        <div class="description">
                            {{ event.eventDescription | raw}}
                        </div>
                        <!-- location -->
                        <div class="location">
                            <p class="title">Location</p>
                            <p>{{ event.address1 }}</p>
                            <p>{{ event.address2 }}</p>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <!-- reserve -->
                        <div class="reserve-container">
                            <div class="reserve d-flex h-100">
                                <a href="{{ event.registerLink }}" target="_blank" class="align-self-center">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- end loop -->
        </div>
    </div>
</div>
{% endblock %}