{% extends "layouts/base.twig" %}

{% block scripts %}
    {{ parent() }}
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
{% endblock %}

{% block topcontent %}
<div class="content-container text-center">
    <div class="container-fluid"><!-- container -->
        <div class="main-content row"><!-- main content -->
            <div class="video-rotator col-md"><!-- videos -->
                <div class="card">
                    <div class="card-body row">
                        <div class="main-video col-12 align-self-center">
                            <div class="video-container" 
                                data-cycle-timeout="0"
                                data-cycle-slides="> .video"
                                data-cycle-pager-template="<span class='col'></span>"
                                data-cycle-log="false"
                            >
                                {% for video in mainVideos %}
                                    <div class="video">
                                        <div class="wistia_embed wistia_async_{{ video }} playlistLoop=true"></div>
                                    </div>
            					{% endfor %}
                            </div>

                            <div class="pager prev row">
                                <div class="col align-self-center"><span class="fa fa-btn fa-angle-left"></span></div>
                            </div>
                            <div class="pager next row">
                                <div class="col align-self-center"><span class="fa fa-btn fa-angle-right"></span></div>
                            </div>
                            <div class="thumbnails row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login col-md"><!-- login -->
                <div class="row button-container">
                    <div class="login-text align-self-center col">
                        <div class="get-btn">
                            <div class="card">
                                <div class="card-body">
                                    <a href="{{ enrollUrl }}" class="btn btn-primary" target="_blank">
                                        Enroll Today
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="like-btn">
                            <div class="card">
                                <div class="card-body">
                                    <div class="fb-like" data-href="https://business.facebook.com/getyourhealthrecord/?business_id=1010989675700168" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-container videos-container text-center">
    <div class="container-fluid"><!-- container -->
        <div><!-- consumer vids -->
            <h4>Videos for Consumer <a href="https://www.amazon.com/Your-Health-Record-Kris-Gates/dp/1718643004" class="kindle-logo" target="_blank"><img src="/assets/images/kindlelogo.png" alt="Available on Amazon Kindle"></a></h4>
            <div class="video-carousel jumbotron"><!-- vid container -->
                <div class="video-container">
                    <div class="video-cycle" 
                        data-cycle-fx="carousel"
                        data-cycle-timeout="0"
                        data-cycle-slides="> .video-link"
                        data-allow-wrap="false"
                        data-cycle-log="false"
                    >
                    	{% for video in consumerVideos %}
                            <div class="video-link">
                                <div class="video">
                                    <div class="wistia_embed wistia_async_{{ video.videoId }} popover=true">&nbsp;</div>
                                </div>
                                <div class="text">
                                    {{ video.title }}
                                </div>
                            </div>
            			{% endfor %}
                    </div>

                    <div class="pager prev row">
                        <div class="col align-self-center"><span class="fa fa-btn fa-angle-left"></span></div>
                    </div>
                    <div class="pager next row">
                        <div class="col align-self-center"><span class="fa fa-btn fa-angle-right"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div><!-- provider vids -->
            <h4>Videos for Health Care Provider <a class='btn btn-primary' href="/register">Register</a></h4>
            <div class="video-carousel jumbotron"><!-- vid container -->
                <div class="video-container">
                    <div class="video-cycle" 
                        data-cycle-fx="carousel"
                        data-cycle-timeout="0"
                        data-cycle-slides="> .video-link"
                        data-allow-wrap="false"
                        data-cycle-log="false"
                    >
                    	{% for video in providerVideos %}
                            <div class="video-link">
                                <div class="video">
                                    <div class="wistia_embed wistia_async_{{ video.videoId }} popover=true">&nbsp;</div>
                                </div>
                                <div class="text">
                                    {{ video.title }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="pager prev row">
                        <div class="col align-self-center"><span class="fa fa-btn fa-angle-left"></span></div>
                    </div>
                    <div class="pager next row">
                            <div class="col align-self-center"><span class="fa fa-btn fa-angle-right"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}