{% extends "layouts/base.twig" %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="https://www.tfaforms.com/form-builder/4.4.0/css/wforms-layout.css?v=503" rel="stylesheet" type="text/css" />
    <!--[if IE 8]>
        <link href="https://www.tfaforms.com/form-builder/4.4.0/css/wforms-layout-ie8.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <!--[if IE 7]>
        <link href="https://www.tfaforms.com/form-builder/4.4.0/css/wforms-layout-ie7.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <!--[if IE 6]>
        <link href="https://www.tfaforms.com/form-builder/4.4.0/css/wforms-layout-ie6.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <link href="https://www.tfaforms.com/themes/get/default" rel="stylesheet" type="text/css" />
    <link href="https://www.tfaforms.com/form-builder/4.4.0/css/wforms-jsonly.css?v=503" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
    <style type="text/css">
        #tfa_9-L,
        label[id^="tfa_9["] {
            width: 511px !important;
            min-width: 0px;
        }

        #tfa_1872,
        *[id^="tfa_1872["] {
            width: 270.18181824684143px !important;
        }
        #tfa_1872-D,
        *[id^="tfa_1872["][class~="field-container-D"] {
            width: auto !important;
        }

        #tfa_1873,
        *[id^="tfa_1873["] {
            width: 270.18181824684143px !important;
        }
        #tfa_1873-D,
        *[id^="tfa_1873["][class~="field-container-D"] {
            width: auto !important;
        }

        #tfa_1874,
        *[id^="tfa_1874["] {
            width: 190.18181824684143px !important;
        }
        #tfa_1874-D,
        *[id^="tfa_1874["][class~="field-container-D"] {
            width: auto !important;
        }

        #tfa_2203,
        *[id^="tfa_2203["] {
            width: 250px !important;
        }
        #tfa_2203-D,
        *[id^="tfa_2203["][class~="field-container-D"] {
            width: auto !important;
        }
        .wFormTitle {
            text-align:center;
            margin:10px auto;
            }
        .wForm fieldset {
            border:1px solid #ccc;
            }
        .wFormContainer {
            border-radius:5px;
        }
        .wFormTitle {
                font-family: arial;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){
            const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
            let formElement = document.getElementById("tfa_0");
            let appendJsTimerElement = function(){
                let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
                let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
                if (null !== cumulatedTimeElement) {
                    let cumulatedTime = parseInt(cumulatedTimeElement.value);
                    if (null !== cumulatedTime && cumulatedTime > 0) {
                        formTimeDiff += cumulatedTime;
                    }
                }
                let jsTimeInput = document.createElement("input");
                jsTimeInput.setAttribute("type", "hidden");
                jsTimeInput.setAttribute("value", formTimeDiff.toString());
                jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
                jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
                jsTimeInput.setAttribute("autocomplete", "off");
                if (null !== formElement) {
                    formElement.appendChild(jsTimeInput);
                }
            };
            if (null !== formElement) {
                if(formElement.addEventListener){
                    formElement.addEventListener('submit', appendJsTimerElement, false);
                } else if(formElement.attachEvent){
                    formElement.attachEvent('onsubmit', appendJsTimerElement);
                }
            }
        });
    </script>
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.10/js/wforms.js?v=503"></script>
    <script type="text/javascript">wFORMS.behaviors.prefill.skip = false;</script>
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.10/js/localization-en_US.js?v=503"></script>
{% endblock %}

{% block topcontent %}<div class="content-container event-bump"></div>{% endblock %}

{% block content %}
<div class="content-container events-container">
    <!-- FORM: BODY SECTION -->
<h3 class="wFormTitle" id="tfa_0-T">National Quality Care Exchange - Clinic Registration</h3>
<div class="wFormContainer"  >
   
  <div class="">
    <div class="wForm" id="tfa_0-WRPR" dir="ltr">
      <div class="codesection" id="code-tfa_0"></div>
      
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="tfa_0">
        <div class="oneField field-container-D    " id="tfa_9-D" role="group" aria-labelledby="tfa_9-L">
          <label id="tfa_9-L" for="tfa_9" class="label preField "><b>EHR is setup to receive Direct Message requests?</b></label>
          <br>
          <div class="inputWrapper"><span id="tfa_9" class="choices vertical "><span class="oneChoice">
            <input type="radio" value="tfa_10" class="" id="tfa_10" name="tfa_9">
            <label class="label postField" id="tfa_10-L" for="tfa_10">Yes</label>
            </span><span class="oneChoice">
            <input type="radio" value="tfa_11" class="" id="tfa_11" name="tfa_9">
            <label class="label postField" id="tfa_11-L" for="tfa_11">No, need more information</label>
            </span></span></div>
        </div>
        <div class="htmlSection" id="tfa_8">
          <div class="htmlContent" id="tfa_8-HTML"><b><a href="https://healthendeavors.wistia.com/medias/jaaak7oqn7" target="_blank">What is Direct Messaging?</a></b></div>
        </div>
        <div class="oneField field-container-D    " id="tfa_12-D" role="group" aria-labelledby="tfa_12-L">
          <label id="tfa_12-L" for="tfa_12" class="label preField "><b>Medical Records staff is ready to send and receive Direct Messages?</b></label>
          <br>
          <div class="inputWrapper"><span id="tfa_12" class="choices vertical "><span class="oneChoice">
            <input type="radio" value="tfa_13" class="" id="tfa_13" name="tfa_12">
            <label class="label postField" id="tfa_13-L" for="tfa_13">Yes</label>
            </span><span class="oneChoice">
            <input type="radio" value="tfa_15" class="" id="tfa_15" name="tfa_12">
            <label class="label postField" id="tfa_15-L" for="tfa_15">No, need more information</label>
            </span></span></div>
        </div>
        <div class="oneField field-container-D    " id="tfa_2189-D" role="group" aria-labelledby="tfa_2189-L">
          <label id="tfa_2189-L" for="tfa_2189" class="label preField "><b>Consumer Enrollment Options</b><a href="https://www.youtube.com/channel/UC25GThHUJtMVp1v7ZGhRZaQ" target="_blank" style="font-weight: bold;"></a></label>
          <br>
          <div class="inputWrapper"><span id="tfa_2189" class="choices vertical "><span class="oneChoice">
            <input type="radio" value="tfa_2190" class="" id="tfa_2190" name="tfa_2189">
            <label class="label postField" id="tfa_2190-L" for="tfa_2190">Consumer Self-Enroll:&nbsp; Clinic staff distribute Get Your Health Record booklet</label>
            </span><span class="oneChoice">
            <input type="radio" value="tfa_2191" class="" id="tfa_2191" name="tfa_2189">
            <label class="label postField" id="tfa_2191-L" for="tfa_2191">iPad Kiosk staffed by medical records staff to assist patient with enrollment</label>
            </span></span></div>
        </div>
        <div class="oneField field-container-D    " id="tfa_2192-D">
          <label id="tfa_2192-L" for="tfa_2192" class="label preField ">Number of iPad enrollment kiosks (cost is $850 per iPad)</label>
          <br>
          <div class="inputWrapper">
            <textarea id="tfa_2192" name="tfa_2192" title="Number of iPad enrollment kiosks (cost is $850 per iPad)" class=""></textarea>
          </div>
        </div>
        <div class="htmlSection" id="tfa_2195">
          <div class="htmlContent" id="tfa_2195-HTML"><b>Main Clinic Contact Information</b></div>
        </div>
        <fieldset id="tfa_1867" class="section">
          <div id="tfa_2197" class="section inline group">
            <div class="oneField field-container-D    " id="tfa_1868-D">
              <label id="tfa_1868-L" for="tfa_1868" class="label preField ">First Name&nbsp;</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1868" name="tfa_1868" value="" placeholder="" title="First Name " class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_1869-D">
              <label id="tfa_1869-L" for="tfa_1869" class="label preField ">Last Name</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1869" name="tfa_1869" value="" placeholder="" title="Last Name" class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_1870-D">
              <label id="tfa_1870-L" for="tfa_1870" class="label preField ">Phone</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1870" name="tfa_1870" value="" placeholder="###-###-####" title="Phone" class="validate-custom /^([\(]{1}[0-9]{3}[\)]{1}[\.| |\-]{0,1}|^[0-9]{3}[\.|\-| ]?)?[0-9]{3}(\.|\-| )?[0-9]{4}$/">
              </div>
            </div>
          </div>
          <div id="tfa_2207" class="section inline group">
            <div class="oneField field-container-D    " id="tfa_2205-D">
              <label id="tfa_2205-L" for="tfa_2205" class="label preField ">Clinic Name</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_2205" name="tfa_2205" value="" placeholder="" title="Clinic Name" class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_2206-D">
              <label id="tfa_2206-L" for="tfa_2206" class="label preField ">ACO Name (if applicable)</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_2206" name="tfa_2206" value="" placeholder="" title="ACO Name (if applicable)" class="">
              </div>
            </div>
          </div>
          <div id="tfa_2200" class="section inline group">
            <div class="oneField field-container-D    " id="tfa_1872-D">
              <label id="tfa_1872-L" for="tfa_1872" class="label preField ">Address Line 1</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1872" name="tfa_1872" value="" placeholder="" title="Address Line 1" class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_1873-D">
              <label id="tfa_1873-L" for="tfa_1873" class="label preField ">Address Line 2</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1873" name="tfa_1873" value="" placeholder="" title="Address Line 2" class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_1874-D">
              <label id="tfa_1874-L" for="tfa_1874" class="label preField ">City</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_1874" name="tfa_1874" value="" placeholder="" title="City" class="">
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_2113-D">
              <label id="tfa_2113-L" for="tfa_2113" class="label preField ">State</label>
              <br>
              <div class="inputWrapper">
                <select id="tfa_2113" name="tfa_2113" title="State" class="">
                  <option value="">Please select...</option>
                  <option value="tfa_2114" id="tfa_2114" class="">Alabama</option>
                  <option value="tfa_2115" id="tfa_2115" class="">Alaska</option>
                  <option value="tfa_2116" id="tfa_2116" class="">Arizona</option>
                  <option value="tfa_2117" id="tfa_2117" class="">Arkansas</option>
                  <option value="tfa_2118" id="tfa_2118" class="">California</option>
                  <option value="tfa_2119" id="tfa_2119" class="">Colorado</option>
                  <option value="tfa_2120" id="tfa_2120" class="">Connecticut</option>
                  <option value="tfa_2121" id="tfa_2121" class="">Delaware</option>
                  <option value="tfa_2122" id="tfa_2122" class="">District Of Columbia</option>
                  <option value="tfa_2123" id="tfa_2123" class="">Florida</option>
                  <option value="tfa_2124" id="tfa_2124" class="">Georgia</option>
                  <option value="tfa_2125" id="tfa_2125" class="">Hawaii</option>
                  <option value="tfa_2126" id="tfa_2126" class="">Idaho</option>
                  <option value="tfa_2127" id="tfa_2127" class="">Illinois</option>
                  <option value="tfa_2128" id="tfa_2128" class="">Indiana</option>
                  <option value="tfa_2129" id="tfa_2129" class="">Iowa</option>
                  <option value="tfa_2130" id="tfa_2130" class="">Kansas</option>
                  <option value="tfa_2131" id="tfa_2131" class="">Kentucky</option>
                  <option value="tfa_2132" id="tfa_2132" class="">Louisiana</option>
                  <option value="tfa_2133" id="tfa_2133" class="">Maine</option>
                  <option value="tfa_2134" id="tfa_2134" class="">Maryland</option>
                  <option value="tfa_2135" id="tfa_2135" class="">Massachusetts</option>
                  <option value="tfa_2136" id="tfa_2136" class="">Michigan</option>
                  <option value="tfa_2137" id="tfa_2137" class="">Minnesota</option>
                  <option value="tfa_2138" id="tfa_2138" class="">Mississippi</option>
                  <option value="tfa_2139" id="tfa_2139" class="">Missouri</option>
                  <option value="tfa_2140" id="tfa_2140" class="">Montana</option>
                  <option value="tfa_2141" id="tfa_2141" class="">Nebraska</option>
                  <option value="tfa_2142" id="tfa_2142" class="">Nevada</option>
                  <option value="tfa_2143" id="tfa_2143" class="">New Hampshire</option>
                  <option value="tfa_2144" id="tfa_2144" class="">New Jersey</option>
                  <option value="tfa_2145" id="tfa_2145" class="">New Mexico</option>
                  <option value="tfa_2146" id="tfa_2146" class="">New York</option>
                  <option value="tfa_2147" id="tfa_2147" class="">North Carolina</option>
                  <option value="tfa_2148" id="tfa_2148" class="">North Dakota</option>
                  <option value="tfa_2149" id="tfa_2149" class="">Ohio</option>
                  <option value="tfa_2150" id="tfa_2150" class="">Oklahoma</option>
                  <option value="tfa_2151" id="tfa_2151" class="">Oregon</option>
                  <option value="tfa_2152" id="tfa_2152" class="">Pennsylvania</option>
                  <option value="tfa_2153" id="tfa_2153" class="">Rhode Island</option>
                  <option value="tfa_2154" id="tfa_2154" class="">South Carolina</option>
                  <option value="tfa_2155" id="tfa_2155" class="">South Dakota</option>
                  <option value="tfa_2156" id="tfa_2156" class="">Tennessee</option>
                  <option value="tfa_2157" id="tfa_2157" class="">Texas</option>
                  <option value="tfa_2158" id="tfa_2158" class="">Utah</option>
                  <option value="tfa_2159" id="tfa_2159" class="">Vermont</option>
                  <option value="tfa_2160" id="tfa_2160" class="">Virginia</option>
                  <option value="tfa_2161" id="tfa_2161" class="">Washington</option>
                  <option value="tfa_2162" id="tfa_2162" class="">West Virginia</option>
                  <option value="tfa_2163" id="tfa_2163" class="">Wisconsin</option>
                  <option value="tfa_2164" id="tfa_2164" class="">Wyoming</option>
                  <option value="tfa_2165" id="tfa_2165" class="">Puerto Rico</option>
                  <option value="tfa_2166" id="tfa_2166" class="">Virgin Island</option>
                  <option value="tfa_2167" id="tfa_2167" class="">Northern Mariana Islands</option>
                  <option value="tfa_2168" id="tfa_2168" class="">Guam</option>
                  <option value="tfa_2169" id="tfa_2169" class="">American Samoa</option>
                  <option value="tfa_2170" id="tfa_2170" class="">Palau</option>
                </select>
              </div>
            </div>
            <div class="oneField field-container-D    " id="tfa_2186-D">
              <label id="tfa_2186-L" for="tfa_2186" class="label preField ">Postal Code</label>
              <br>
              <div class="inputWrapper">
                <input type="text" id="tfa_2186" name="tfa_2186" value="" placeholder="" title="Postal Code" class="validate-integer">
              </div>
            </div>
          </div>
          <div class="oneField field-container-D    " id="tfa_2203-D">
            <label id="tfa_2203-L" for="tfa_2203" class="label preField reqMark">Email</label>
            <br>
            <div class="inputWrapper">
              <input type="text" id="tfa_2203" name="tfa_2203" value="" placeholder="" aria-required="true" title="Email" class="validate-email required">
            </div>
          </div>
        </fieldset>
        <div class="htmlSection" id="tfa_2201">
          <div class="htmlContent" id="tfa_2201-HTML">
            <div style="text-align: center;"><b>Health Endeavors Contact Information</b></div>
          </div>
        </div>
        <div class="htmlSection" id="tfa_2202">
          <div class="htmlContent" id="tfa_2202-HTML">
            <div style="text-align: center;">Shaunte Porter, Client Relations Manager</div>
            <div style="text-align: center;">1-888-862-0366, ext. 206</div>
            <div style="text-align: center;">shauntep@healthendeavors.com</div>
          </div>
        </div>
        <!--div class="htmlSection" id="tfa_2204">
          <div class="htmlContent" id="tfa_2204-HTML">
            <div style="text-align: center;"><a href="https://www.amazon.com/One-Touch-Health-Smart-Record-ebook/dp/B079ZJN9F4/ref=sr_1_2?ie=UTF8&amp;qid=1522885986&amp;sr=8-2&amp;keywords=one+touch+health+smart+record" target="_blank" style="background-color: rgb(255, 255, 255);">Amazon Consumer Guide Link</a></div>
          </div>
        </div-->
        <div class="actions" id="tfa_0-A">
          <input type="submit" class="primaryAction" id="submit_button" value="Submit">
        </div>
        <div style="clear:both"></div>
        <input type="hidden" value="4669065" name="tfa_dbFormId" id="tfa_dbFormId">
        <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
        <input type="hidden" value="7aa171233732e4c66df07262f34ecf70" name="tfa_dbControl" id="tfa_dbControl">
        <input type="hidden" value="80" name="tfa_dbVersionId" id="tfa_dbVersionId">
        <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      </form>
    </div>
  </div>
  <div class="wFormFooter">
    <!--p class="supportInfo" > <a href="https://www.tfaforms.com/forms/help/4669065" target="new"
       style="font-size: 0.7em;"  > Need assistance with this form? </a> </p-->
  </div>
</div>
<br />
</div>
{% endblock %}