{% extends "homepage/layouts/dark.twig" %}

{% block content %}

<div class="row footer">
    <div class="col-md-8">
        <div id="contact-form" class="contact-form-container">
            <h2>Contact Us</h2>
            <p class="small">Fields marked with <span class="form-required">*</span> are required</p>
            <form class="container-fluid contact-form" action="" method="post">
                <input type="hidden" name="title" value="Send a Message">
                <div class="required-fields">
                    <input type="text" name="form__valid__name" value="">
                    <input type="text" name="form__valid__email" value="">
                    <input type="text" name="form__valid__url" value="">
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="firstName">First Name <span class="form-required">*</span></label>
                        <input type="text" name="firstName" id="firstName" class="form-control" value="" required="true">
                    </div>
                    <div class="col-md">
                        <label for="lastName">Last Name <span class="form-required">*</span></label>
                        <input type="text" name="lastName" id="lastName" value="" class="form-control" required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="email">Email Address <span class="form-required">*</span></label>
                        <input type="email" name="email" id="email" value="" class="form-control" required="true">
                    </div>
                    <div class="col-md">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" id="phone" value="" class="form-control phone-mask">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md">
                        <p class="small">We respect your privacy, and your information will not be shared.</p>
                    </div>
                </div>
                <div class="row submit-form text-center">
                    <div class="col-md">
                        <input type="submit" name="submit" class="btn btn-lg btn-block btn-custom" value="Contact Us">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container-fluid">
            <div class="row social-icons">
                <div class="col col-xs icon facebook"><a href="https://business.facebook.com/getyourhealthrecord/?business_id=1010989675700168" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></div>
                <div class="col col-xs icon linkedin"><a href="https://www.linkedin.com/in/kris-gates/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></div>
                <div class="col col-xs icon youtube"><a href="https://www.youtube.com/channel/UChFprHCrCqilUVymOCCh95A?view_as=subscriber" target="_blank" class="fa fa-youtube-play" aria-hidden="true"></a></div>
                <div class="col col-xs icon twitter"><a href="https://twitter.com/GetHealthRecord" target="_blank" class="fa fa-twitter" aria-hidden="true"></a></div>
            </div>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="https://www.onetouchhealth.com/privacy-policy" target="_blank">Privacy Policy</a></li>
                <li><a href="https://www.healthendeavors.com/index.php/population-health-management" target="_blank">Health Care Providers</a></li>
            </ul>
        </div>
        <div class="contact">
            <b>Health Endeavors</b><br>
            8955 E Pinnacle Peak Rd #103<br>
            Scottsdale, AZ 85255
        </div>
        <div class="copy">
            &copy; 2018 Health Endeavors
        </div>
    </div>
</div>

{% endblock %}