{% embed 'homepage/layouts/highlights.twig' with {'count' : 1} %}
	{% block image %}
		<img src="/assets/images/emergency.jpg" class="img-fluid" alt="Emergency">
	{% endblock %}
	{% block title %}
		CMS Open Payments Integration
	{% endblock %}
	{% block content %}
		<p>Full integration into admin and participant disclosure database gives you increased visibility and accountability so it's easy to comply with Physician Payments Sunshine Act requirements.</p>
	{% endblock %}
{% endembed %}

{% embed 'homepage/layouts/highlights.twig' with {'count' : 2} %}
	{% block image %}
		<img src="/assets/images/share.jpg" class="img-fluid" alt="Share">
	{% endblock %}
	{% block title %}
		Robust Reporting and Analytics
	{% endblock %}
	{% block content %}
		<p>Year-to-year disclosure comparisons allow you to data mine changed responses from the previous year. Participant "save" and "continue later" options. Mass imports of participants with new hire and termination removal automation.</p>
	{% endblock %}
{% endembed %}

{% embed 'homepage/layouts/highlights.twig' with {'count' : 3} %}
	{% block image %}
		<img src="/assets/images/up-to-date-health-information.jpg" class="img-fluid" alt="Up-to-date Health Information">
	{% endblock %}
	{% block title %}
		Automated and Accurate
	{% endblock %}
	{% block content %}
		<p>Automated tracking of Not Started, In Progress, Completed, Approved, Approved with Conditions, and Not Approved. Automatically move all no conflict responses to approved. Electronic approver workflow that includes response discuss option.</p>
	{% endblock %}
{% endembed %}

{% embed 'homepage/layouts/highlights.twig' with {'count' : 4} %}
	{% block image %}
		<img src="/assets/images/text-alerts.jpg" class="img-fluid" alt="Text Alerts">
	{% endblock %}
	{% block title %}
		Customizable and Intuitive
	{% endblock %}
	{% block content %}
		<p>Response options, reminders and attestations with "Build your Questionnaire" technology. Participant key definition quick references and PDF uploads with required acknowledgment. Response options of drop downs, date, text, radio buttons, reminders, attestations and skip logic.</p>
	{% endblock %}
{% endembed %}