<div id="sign-up" class="container-fluid signup-container">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="text-center">
					<h3>Sign Up With Medicare</h3>
					<div class="video-link wistia_embed wistia_async_2fd8qeo89q popover=true popoverContent=html"><i class="fa fa-play" aria-hidden="true"></i> Video</div>
					<h4>Medicare Approved App</h4>
					<p>Medicare beneficiaries download 4 years of health history (weekly updates) using Get Your Health Record App. Medication and diagnosis list, calendar and list view of Part A, Part B and Part D claims. Text Alerts about medications, exams, labs and other tests you need to complete.</p>
					<p class="text-highlight">
						$4.99 monthly subscription<br>
						after 30-day FREE Trial
					</p>
					<div class="grey-divider"></div>
					<a href="https://www.onetouchhealth.com/oauth/bluebutton" class="btn btn-lg btn-block btn-custom">Medicare Connect</a>
				</div>
			</div>
			<div class="col-md-auto divider-col">
				<div class="d-flex align-items-center h-100 line-divider">
					<div class="divider-txt">or</div>
				</div>
			</div>
			<div class="col-md">
				<div class="text-center">
					<h3>Sign Up with The Website</h3>
					<div class="video-link wistia_embed wistia_async_tf0o6ip2ln popover=true popoverContent=html"><i class="fa fa-play" aria-hidden="true"></i> Video</div>
					<h4>&nbsp;</h4>
					<p>Your doctor sends your electronic health records to your direct message address which syncs your health information in the App. Sync your children and family members health information. Text alerts about medications, exams, labs, and other tests you need to complete.</p>
					<p class="text-highlight">
						$4.99 monthly subscription<br>
						after 30-day FREE Trial
					</p>
					<div class="grey-divider"></div>
					<a href="https://www.onetouchhealth.com/enroll" class="btn btn-lg btn-block btn-green">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>